/*@font-face {
  font-family: 'Wingdings';
  font-style: normal;
  font-weight: normal;
  src: local('Wingdings'), url('./../public/font/wingdings.woff') format('woff');
  }*/
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-attachment: fixed;
  background-image: url(./../public/background1.png);
  background-repeat: no-repeat;
  color: white;
  text-shadow: 1px 1px black;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
h1 {
  font-size: 70px;
  margin: 50px auto;
}
footer {
  position: fixed;
  bottom: 0;
  height: 40px;
  background-color: white;
  width: 100%;
  text-align: center;
}
.img1 {
  height: 500px;
}
.lesipakeimg {
  height: 100%;
  max-height: 240px;
}
.projects {
  display: flex;
  flex-wrap: wrap;
}
.project {
  display: flex;
  flex-direction: column;
  width: 600px;
  justify-content: center;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 50px;
  padding: 50px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  margin: 0 auto 50px;
}
.pannel1 {
  display: flex;
  align-items: center;
  padding: 50px;
  width: 600px;
  height: 600px;
  border-radius: 50px;
  margin: 0 auto;
  background: linear-gradient(145deg, #f0f0f2, #cacacb);
  box-shadow: 20px 20px 60px #bebec0, -20px -20px 60px #ffffff;
}
.pannels {
  padding: 50px 100px;
  margin: 50px 50px 90px 50px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 50px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  align-content: center;
}
.pannels p,
h1 {
  text-align: center;
}
